<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Cruze</string>
		<key>image</key>
		<string>chevy-cruze-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Dodge</string>
		<key>model</key>
		<string>Dart</string>
		<key>image</key>
		<string>dodge-dart-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Focus</string>
		<key>image</key>
		<string>ford-focus-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Honda</string>
		<key>model</key>
		<string>Civic</string>
		<key>image</key>
		<string>honda-civic-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Elantra</string>
		<key>image</key>
		<string>hyundai-elantra-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Forte</string>
		<key>image</key>
		<string>kia-forte-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Mitsubishi</string>
		<key>model</key>
		<string>Lancer</string>
		<key>image</key>
		<string>mitsubishi-lancer-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Sentra</string>
		<key>image</key>
		<string>nissan-sentra-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Subaru</string>
		<key>model</key>
		<string>Impreza</string>
		<key>image</key>
		<string>subaru-impreza-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>Compact</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Corolla</string>
		<key>image</key>
		<string>toyota-corolla-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Impala</string>
		<key>image</key>
		<string>chevy-impala-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Taurus</string>
		<key>image</key>
		<string>ford-taurus-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Honda</string>
		<key>model</key>
		<string>Accord</string>
		<key>image</key>
		<string>honda-accord-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Genesis</string>
		<key>image</key>
		<string>hyundai-genesis-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Cadenza</string>
		<key>image</key>
		<string>kia-cadenza-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Maxima</string>
		<key>image</key>
		<string>nissan-maxima-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>FullSize</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Avalon</string>
		<key>image</key>
		<string>toyota-avalon-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Malibu</string>
		<key>image</key>
		<string>chevy-malibu-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Dodge</string>
		<key>model</key>
		<string>Avenger</string>
		<key>image</key>
		<string>dodge-avenger-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Fusion</string>
		<key>image</key>
		<string>ford-fusion-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Sonata</string>
		<key>image</key>
		<string>hyundai-sonata-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Optima</string>
		<key>image</key>
		<string>kia-optima-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Mitsubishi</string>
		<key>model</key>
		<string>Eclipse</string>
		<key>image</key>
		<string>mitsubishi-eclipse-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Altima</string>
		<key>image</key>
		<string>nissan-altima-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Subaru</string>
		<key>model</key>
		<string>Legacy</string>
		<key>image</key>
		<string>subaru-legacy-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>MidSize</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Camry</string>
		<key>image</key>
		<string>toyota-camry-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>GM</string>
		<key>model</key>
		<string>Sonic</string>
		<key>image</key>
		<string>chevy-sonic-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Ford</string>
		<key>model</key>
		<string>Fiesta</string>
		<key>image</key>
		<string>ford-fiesta-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Honda</string>
		<key>model</key>
		<string>Fit</string>
		<key>image</key>
		<string>honda-fit-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Hyundai</string>
		<key>model</key>
		<string>Accent</string>
		<key>image</key>
		<string>hyundai-accent-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Kia</string>
		<key>model</key>
		<string>Rio</string>
		<key>image</key>
		<string>kia-rio-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Mazda</string>
		<key>model</key>
		<string>2</string>
		<key>image</key>
		<string>mazda-2-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Mitsubishi</string>
		<key>model</key>
		<string>Mirage</string>
		<key>image</key>
		<string>mitsubishi-mirage-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Nissan</string>
		<key>model</key>
		<string>Versa</string>
		<key>image</key>
		<string>nissan-versa-130.jpg</string>
	</dict>
	<dict>
		<key>type</key>
		<string>SubCompact</string>
		<key>maker</key>
		<string>Toyota</string>
		<key>model</key>
		<string>Yaris</string>
		<key>image</key>
		<string>toyota-yaris-130.jpg</string>
	</dict>
</array>
</plist>
